.popup__error {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-left: 36px;
  float: top;
}

@media screen and (max-width: 767px) {
  .popup__error {
    margin-left: 20px;
  }
}
