.element__button-trash {
  margin: 0;
  background: url(../../../images/Trash.png) no-repeat center / cover;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  transform: translateX(244px) translateY(40px);
}
.element__button-trash:hover {
  opacity: 0.6;
}
