.popup_opened {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  justify-content: center;
}
