.popup__input {
  margin: 30px 0 0px 36px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  background: #ffffff;
  width: 354px;
  height: 27px;
  box-shadow: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
}
.popup__input:last-of-type {
  margin-top: 0px;
}
@media screen and (max-width: 767px) {
  .popup__input {
    width: 238px;
    margin-left: 20px;
    margin-top: 0;
  }
}
