.header {
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  box-sizing: border-box;
  margin-right: 0;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 31px;
  }
}
