.popup__name {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  background: #ffffff;
  box-shadow: none;
  width: 354px;
  height: 27px;
  margin-left: 35px;
  margin-top: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media screen and (max-width: 767px) {
  .popup__name {
    width: 235px;
    height: 27px;
    margin-left: 22px;
    margin-top: 69px;
  }
}
