.profile__title {
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: title;
  align-self: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 39vw;
}
@media screen and (max-width: 1023px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 30vw;
  }
}
@media screen and (max-width: 767px) {
  .profile__title {
    align-self: center;
    margin-top: 26px;
    margin-left: 27px;
    max-width: 50vw;
  }
}
@media screen and (max-width: 425px) {
  .profile__title {
    max-width: 70vw;
  }
}
