.profile__add-button {
  background-image: url(../../../images/Add\ Button.png);
  width: 150px;
  height: 50px;
  background-color: #000000;
  align-self: center;
  justify-self: end;
  border: none;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .profile__add-button {
    height: 50px;
    width: 282px;
    background-image: url(../../../images/Add\ Button-mobile.png);
  }
}
