.elements {
  max-width: 880px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  column-gap: 17px;
  padding-top: 32px;
}
.elements:nth-child(3) {
  column-gap: 0px;
}
@media screen and (max-width: 1023px) {
  .elements {
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    padding-top: 36px;
  }
}
@media screen and (max-width: 767px) {
  .elements {
    grid-template-columns: 1fr;
  }
}
