.popup__savebutton {
  background: #000000;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 50px 36px 37px;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}
.popup__savebutton:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .popup__savebutton {
    width: 238px;
    height: 46px;
    margin-left: 22px;
    font-size: 14px;
    line-height: 17px;
  }
}
