.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  grid-area: avatar;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .profile__avatar {
    margin-top: 2px;
    margin-left: 1px;
  }
}
