.popup__profession {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  background: #ffffff;
  /* border-radius: 10px; */
  width: 354px;
  height: 27px;
  margin-left: 36px;
  box-shadow: none;
  margin-top: 30px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
