.element__button-like {
  background: #ffffff url(../../../images/Vector.svg) no-repeat center / cover;
  min-width: 22px;
  height: 19px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  transition: background-image 0.4s ease-in-out;
}
.element__button-like:hover {
  opacity: 0.5;
}
